.grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:10px;
    
}
.flag{
    width: 100px;
    margin-left: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}